.react-cookie-law-dialog {
  background: black url("/../src/icons/important.svg") no-repeat left 150px
    center !important;
  box-shadow: inset 10px 0 0 0 #d80d34;
  font-family: "Lato", sans-serif;
  bottom: 0.5em !important;
  top: inherit !important;
  width: 450px;
  right: 0.5em !important;
  left: inherit !important;
  padding: 1em 2em !important;
}

.react-cookie-law-policy {
  margin: 0 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  color: #fff !important;
  &:hover {
    color: green !important;
  }
}

.react-cookie-law-msg {
  font-weight: bold !important;
  // font-size: inherit !important;
  color: #fff !important;
}

.react-cookie-law-accept-btn {
  padding: 7px 15px !important;
  background-color: #004225 !important;
  border: none !important;
  &:hover {
    box-shadow: inset 0 0 0 1px #fff;
  }
}
.react-cookie-law-manage-btn {
  padding: 7px 15px !important;
  background-color: #ffd766 !important;
  color: #000 !important;
  border: none !important;
  &:hover {
    box-shadow: inset 0 0 0 1px #fff;
  }
}

.react-cookie-law-save-btn {
  padding: 7px 15px !important;
  background-color: #ffd766 !important;
  color: #000 !important;
  border: none !important;
  &:hover {
    box-shadow: inset 0 0 0 1px #fff;
  }
}

label {
  color: #2dc985 !important;
  font-weight: bold !important;
  line-height: 23px;
  padding: 1px 0px 0px 25px !important;
}

@media only screen and (max-width: 550px) {
  .react-cookie-law-dialog {
    width: 300px !important;
  }

  .react-cookie-law-policy {
    display: none;
  }
}
