// HEADER

header {
  padding: 0 10%;
  height: 100vh;
  min-height: 700px;
  background-color: $main-colour;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 40% 40%;
  align-content: center;
  align-items: center;
  gap: 20%;

  .left-side {
    display: grid;
    justify-items: start;
    justify-content: start;
  }

  img#Me {
    margin: 2em auto 4em;
    transition: 1s;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    box-shadow: $box-shadow-default;
    background: $pure-black;
  }

  h1 {
    @if lightness($main-colour) >= 43% {
      color: $pure-black;
    } @else {
      color: $pure-white;
    }
    text-shadow: $subtle-shadow-text;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    line-height: 1.2em;
    font-size: 3em;
  }

  span.sub-text {
    padding: 2vh 0;
    opacity: 0.9;
    letter-spacing: 0.03em;
    display: block;
    font-size: 70%;
  }

  h2 {
    position: relative;
    font-size: 1.23em;
    text-shadow: $subtle-shadow-text;
  }

  .blurb {
    display: grid;
    justify-items: end;
    background: $pure-black;
    padding: 24px;
    p {
      margin: 12px 0 4px 0;
      @if lightness($pure-black) >= 43% {
        color: $pure-black;
      } @else {
        color: $pure-white;
      }
       
    }
  }
  .date-and-time {
    display: grid;
    padding: 0.8em 1.8em;
    margin: 0.6em 0 0 0;
    background-color: $main-darken-30;
    border-radius: $border-radius;
    font-size: 0.9em;
    text-transform: capitalize;

    p {
      margin: 0;
    }

    span {
      opacity: 0.5;
      font-size: 1.2em;
      padding: 0 0.4em 0 0.4em;
    }
  }
}


$icon-colours: $main-darken-50;

.social-icon {
  @if lightness($main-colour) >= 43% {
    color: $pure-black;
  } @else {
    color: $pure-white;
  }
  li {
    vertical-align: top;
    display: inline;
    height: 100px;
    margin: 0 0.5px;
  }

  a {
    color: $pure-white;
    text-decoration: none;
  }
}

.fa-github {
  padding: 6px 6px;
  transition: 0.5s;
  background-color: $icon-colours;
  border-radius: 20px;
  height: 24px;
  &:hover {
    background-color: #5a32a3;
  }
}
