header {
  text-align: center;
  padding: 0 10%;
  height: 100vh;
  min-height: 700px;
  background-color: $main-colour;
  position: relative;
  z-index: 1;
  display: grid;

   
  // @keyframes CircleChange {
  //   0% {
  //     transform: rotate(0deg);
  //   }

  //   50% {
  //     transform: rotate(180deg);
  //   }

  //   100% {
  //     transform: rotate(360deg);
  //   }
  // }

  // @keyframes CircleChangeR {
  //   0% {
  //     transform: rotate(0deg);
  //   }

  //   50% {
  //     transform: rotate(-180deg);
  //   }

  //   100% {
  //     transform: rotate(-360deg);
  //   }
  // }

  img#Me {
    margin: 2em auto 4em;
    transition: 1s; 
    border-radius: $border-radius-circle;
    box-shadow: $box-shadow-default;
  }

  h1 {
    color: $pure-white;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    line-height: 1.2em;
    font-size: 3em;
  }

  span.sub-text {
    padding: 2vh 0;
    opacity: 0.9; 
    letter-spacing: 0.03em;
    display: block;
    font-size: 70%;
  }

  h2 {
    text-shadow: 3px 3px 10px black;
    position: relative;
    font-size: 1.23em;
    color: $pure-white;
  }

  .centered {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    // animation: slideIn 2s ease 1;
    position: relative;
  }

  .scroll-down {
    position: absolute;
    bottom: 2em;
    cursor: pointer;
    width: 41px;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@keyframes slideIn {
  0% {
    top: -700px;
  }

  100% {
    top: 0;
  }
}

// .blob {
//   animation: morph 6s ease-in-out infinite;
//   border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
//   transition: all 1s ease-in-out;
//   z-index: 5;
// }

// @keyframes morph {
//   0% {
//     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
//   }

//   50% {
//     border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
//   }

//   100% {
//     border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
//   }
// } 