@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

// BODY

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin: auto;
  font-family: "Lato", sans-serif;
}

body a {
  transition: 1s;

  &:hover {
    transition: 1s;
  }
}

body::-webkit-scrollbar-track {
  background-color: #004225;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

img {
  max-width: 100%;
  transition: 1s;
}

.backstretch {
  img {
    top: 0px !important;
    width: 100% !important;
  }
}

// HEADINGS

h1,
h2,
h3 {
  font-family: "Ubuntu Mono", monospace;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

// WRAPPER

.wrapper {
  width: 66%;
  max-width: 990px;
  margin: auto;
  height: 100%;
}

// BACKGROUND

#ReactBackgroundSlider {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;

  > figure {
    background-position: top center !important;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 99%
    );
    z-index: 1;
  }
}

// HEADER

header {
  text-align: center;
  padding: 0 10%;
  height: 70vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  display: grid;

  img#logo {
    margin: 2vh auto;
  }

  img#mobile-logo {
    display: none;
  }

  h1 {
    color: #fff;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 0.03em;
  }

  span.sub-text {
    color: #fff;
    padding: 2vh 0;
    opacity: 0.9;
    text-shadow: 3px 3px 10px black;
    letter-spacing: 0.03em;
    display: block;
    font-size: 70%;
  }

  h2 {
    color: #fff;
    text-shadow: 3px 3px 10px black;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100px;
      background: #fff;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: auto;
      box-shadow: 3px 3px 10px black;
    }
  }

  .centered {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}

// WELCOME

@keyframes bgChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#welcome {
  padding: 50px 0;
  margin: auto;
  background: linear-gradient(180deg, #004225, rgba(0, 0, 0, 1));
  background-size: 400% 400%;
  animation: bgChange 20s ease infinite;
  overflow: hidden;

  .wrapper {
    position: relative;
    overflow: hidden;
  }

  h2 {
    margin: 0 0 3% 0;
    font-weight: bold;
    color: #fff;
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      height: 3px;
      width: 100px;
      background: #fff;
      left: 0;
      bottom: -15px;
    }
  }

  p {
    letter-spacing: 0.01em;
    line-height: 1.26;
    margin: 2.5% 0;
    max-width: 60%;
    color: #fff;

    &:first-of-type {
      font-weight: 600;
      font-size: 1.2em;
      margin: 1% 0;
    }
  }

  #welcome-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5%;
  }

  .cta {
    display: inline-block;
    padding: 12px 30px;
    background-color: #fff;
    color: #004225;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;

    &:hover {
      background-color: #004225;
      color: #fff;
    }
  }
}

// SKILLS

#skillset {
  padding: 8vh 0;
  background: url("./../img/bgs/skills-bg.png") repeat;

  .skill {
    display: flex;

    .skill-box {
      width: 40%;
      padding: 3%;
      margin: 0 auto;
      background-color: #004225;
      box-shadow: 1px 1px 5px 1px #999;
      position: relative;

      &:hover {
        img {
          opacity: 0;
          transition: 1s;
        }
      }

      h2 {
        display: block;
        font-weight: 700;
        padding: 1vh 5% 10% 0;
        font-size: 1.5em;
        color: #fff;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          height: 3px;
          width: 50px;
          background: #fff;
          left: 0;
          bottom: 20%;
        }
      }

      img {
        width: 100%;
        position: absolute;
        height: 100%;
        top: -0%;
        left: 0%;
        opacity: 0.2;
      }

      p {
        line-height: 1.36;
        color: #fff;
        font-weight: 400;
        margin: 8px 0;
        position: relative;
      }
    }
  }
}

// FOOTER

footer {
  text-align: center;
  overflow: hidden;
  background: url("./../img/bgs/footer-bg.png") repeat;
  min-height: 50px;
  width: 100%;
  padding: 4% 0;

  .wrapper {
    position: relative;
  }

  h2 {
    color: #fff;
    margin: 1vh auto;
  }

  p {
    margin: 0;
    line-height: 1.66;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: left;

    img {
      margin: 0 5px;
      vertical-align: middle;
    }

    a {
      text-decoration: none;
      color: #fff;
      box-shadow: inset 0 -1px 0 0 #fff;
      padding: 0;

      &:hover {
        color: #000;
        box-shadow: inset 0 -18px 0 0 #fff;
      }
    }
  }
}
