.popup-content {
  margin: auto;
  background: #fff;
  width: 50%;
  padding: 20px 30px;

  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }
}
[role="tooltip"].popup-content {
  width: 200px;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
// [data-popup="tooltip"].popup-overlay {
//   background: transparent;
// }
.popup-arrow {
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
