.portfolioFeed {
  padding: 5vh 3vw 8vh;
  background: url("./../img/bgs/portfolio-bg.png") repeat;
  background-attachment: fixed;

  h2 {
    padding: 1em 0 0;
    font-weight: 800;
    text-align: center;
    color: #000;
  }

  p {
    text-align: center;
    margin: 1em auto;
  }

  .port-grid {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    gap: 2em;
    justify-content: center;
    padding: 1.5em 0 0 0;
  }

  article {
    padding: 1.5em 1em;
    background-color: #000;

    h3 {
      font-weight: 800;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0.9em;
      text-align: center;
      color: #fff;
      font-size: 1.3em;
    }

    p {
      margin: 0.6em auto;
      height: 49px;
      text-align: left;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: #fff;
    }

    .svg {
      height: 18px;
      width: 18px;
      display: inline-block;
      margin: 0 5px -5px 0;
    }

    span {
      font-size: 0.8em;
      font-weight: bold;
      margin: 0.4em 0;
      display: block;
      text-transform: uppercase;
    }

    span.codebase {
      color: #fff;
    }

    span.live {
      color: #fff;
    }

    a {
      text-decoration: none;
      display: block;
      padding: 0 1.4em;
      font-size: 0.8em;
      text-align: center;
      background-color: #fff;
      color: #000;
      margin-top: 1.2em;
      letter-spacing: 0.06em;
      line-height: 30px;
      width: 5em;
      &:hover {
        background-color: #555;
        color: #fff;
      }
    }

    .project-preview {
      background-size: cover;
      object-fit: fill;
      display: block;
      box-shadow: 0 0 0 1px #fff;
      width: 100%;
      margin: 0 auto 1em;
    }
  }

  .disclaimer {
    padding: 1.5em 2.5em;
    margin-top: 3em;
    text-align: left;
    max-width: 40vw;
    line-height: 1.4em;
    background-color: #555;
    color: #fff;
    box-shadow: inset 5px 0 0 0 #000, 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
}
