@media only screen and (max-width: 989px) {
  header {
    height: 100vh;

    img#logo {
      margin: 30px auto 0;
      display: none;
    }

    img#mobile-logo {
      margin: 30px auto 20px;
      display: block;
    }
  }

  .wrapper {
    width: 100%;
  }

  #welcome {
    padding: 2em 0;
    h1 {
      font-size: 2em;
      .fa {
        display: none;
      }
    }
    h1,
    p {
      max-width: 100%;
      width: 80%;
      margin: 4% auto !important;
      display: block;

      &:before {
        display: none;
      }
    }

    #welcome-image {
      position: inherit;
      right: 0;
      margin: 5% auto;
      display: block;
    }

    .btn {
      margin-left: 10%;
      display: block;
      width: fit-content;
    }
  }

  // Blogfeed

  .blogfeed {
    padding: 2em 0;
    h1 {
      font-size: 2em;
      max-width: 80%;
      margin: 0.1em auto;
    }
  }

  #skillset {
    padding: 2em 0;
    .skill {
      display: block;

      .skill-box {
        width: 90%;
        margin: 5% auto;
        padding: 5% 0;

        h2 {
          padding: 10px 0;
          margin: 0 auto;
          width: 85%;

          &:before {
            display: none;
          }
        }

        p {
          width: 85%;
          margin: 3% auto 5%;
          font-size: 18px;

          &:last-of-type {
            margin-bottom: 3%;
          }
        }
      }
    }
  }

  footer {
    height: auto;
    line-height: normal;

    p {
      float: none;
      margin: 1em auto;
      width: 80%;
    }

    ul.social-icons {
      position: inherit;
      text-align: left;
      margin: auto;
      width: 80%;
    }
  }
}
