@media only screen and (max-width: 1199px) {
  header {
    height: 95vh;
    padding: 0;

    img#Me {
      margin: 2em auto;
      max-width: 240px;
      height: auto;
    }

    &:before,
    &:after {
      display: none;
    }

    h1,
    h2 {
      font-size: 2em;
    }
  }

  .wrapper {
    width: 100%;
  }

  .translate {
    top: 10px;
    left: 10px;
  }

  // Grids

  .grid-3-3-3 {
    grid-template-columns: inherit;
    gap: 0;
  }
 
 
   

  footer {
    height: auto;
    line-height: normal;
    padding: 5%;
    width: auto;
    border-radius: 0;
  }
}
