$main-colour: #161616;
$secondary-colour: #3E885B;
$teriary-colour: #ffffff;

$gold-colour: #ffd700;

$main-lighten-10: lighten($main-colour, 10%);
$main-lighten-20: lighten($main-colour, 20%);
$main-lighten-30: lighten($main-colour, 30%);

$main-darken-10: darken($main-colour, 10%);
$main-darken-20: darken($main-colour, 20%);
$main-darken-30: darken($main-colour, 30%);

$pure-white: #ffffff;
$main-white: #f1e9da;

$text-colour-dark: #000000;
$text-colour-light: #ffffff;

$pure-black: #000000;
$main-black: #1f271b;

$warning-colour: #ffdc5e;
$danger-colour: #b80c09;
$success-colour: $main-colour;

$border-radius: 20px;