@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// BODY

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-size: 16px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

body a {
    transition: 1s;

    &:hover {
        transition: 1s;
    }
}

body::-webkit-scrollbar-track {
    background-color: #004225;
}

body::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

img {
    max-width: 100%;
}

.backstretch {
    img {
        top: 0px !important;
        width: 100% !important;
    }
}

// HEADINGS

h1,
h2,
h3 {
    font-family: 'Ubuntu Mono', monospace;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

// WRAPPER

.wrapper {
    width: 66%;
    max-width: 990px;
    margin: auto;
    height: 100%;
}

// BACKGROUND

#ReactBackgroundSlider {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;

    >figure {
        background-position: top center !important;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 99%);
        z-index: 1;
    }
}

// HEADER

header {
    text-align: center;
    padding: 0 10%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;



    img#logo {
        margin: 130px auto 30px;
    }

    img#mobile-logo {
        display: none;
    }

    h1 {
        color: #fff;
        text-shadow: 3px 3px 10px black;
        letter-spacing: 0.03em;
    }

    h2.sub-text {
        color: #fff;
        padding: 2vh 0;
        opacity: 0.9;
        text-shadow: 3px 3px 10px black;
        letter-spacing: 0.03em;
    }

}


// WELCOME

#welcome {
    padding: 50px 0;
    background-color: #004225;
    box-shadow: inset 0 0 0 5px #004225, inset 0 0 0 6px white;
    overflow: hidden;

    .wrapper {
        position: relative;
        overflow: hidden;
    }

    h2 {
        margin: 0 0 3% 0;
        font-weight: bold;
        color: #fff;
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            height: 3px;
            width: 100px;
            background: #fff;
            left: 0;
            bottom: -15px;
        }
    }

    p {
        letter-spacing: 0.01em;
        line-height: 1.26;
        margin: 2.5% 0;
        max-width: 60%;
        color: #fff;

        &:first-of-type {
            font-weight: 600;
            font-size: 1.2em;
            margin: 1% 0;
        }
    }

    #welcome-image {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 5%;
    }
}

// SKILLS

#skillset {
    padding: 5vh 0;
    background: url('./../img/bgs/skills-bg.png') repeat;

    .skill {
        display: flex;

        .skill-box {
            width: 40%;
            padding: 3%;
            margin: 0 auto;
            background-color: #004225;
            box-shadow: inset 0 0 0 5px #004225, inset 0 0 0 6px white;

            h2 {
                display: block;
                font-weight: 700;
                padding: 1vh 5% 10% 0;
                font-size: 1.5em;
                color: #fff;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    height: 3px;
                    width: 50px;
                    background: #fff;
                    left: 0;
                    bottom: 20%;
                }
            }

            p {
                line-height: 1.36;
                color: #fff;
            }
        }
    }
}

// FOOTER

footer {
    text-align: center;
    overflow: hidden;
    background: url('./../img/bgs/footer-bg.png') repeat;
    min-height: 50px;
    width: 100%;
    padding: 3% 0;

    .wrapper {
        position: relative;
    }

    h2 {
        color: #fff;
        margin: 1vh auto;
    }

    p {
        margin: 0;
        line-height: 1.66;
        color: #fff;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-align: left;

        img {
            margin: 0 5px;
            vertical-align: middle;
        }

        a {
            text-decoration: none;
            color: #fff;
            box-shadow: inset 0 -1px 0 0 #fff;
            padding: 0 2px;

            &:hover {
                color: #000;
                box-shadow: inset 0 -18px 0 0 #fff;
            }
        }

    }
}