@use "../var" as *;

// Backend admin area font override
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.back-end-admin {
  font-family: "Inter", Arial, sans-serif;

  *:not(.material-icons):not(.material-icons-outlined):not(
      .material-icons-round
    ):not(.material-icons-two-tone):not(.material-icons-sharp) {
    font-family: "Inter", Arial, sans-serif;
  }
}

.main-layout {
  min-height: 100vh;
  background: var(--dashboard-bg);
  display: flex;
  flex-direction: column;
  margin-left: 300px;

  .cms-static-inside-header {
    background: var(--admin-header);
    color: #fff;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 0 rgb(255, 255, 255);
    z-index: 10;
    min-height: 50px;
    border-bottom: 1px solid #2d3748;
    .inside-header-static-info {
      display: flex;
      gap: 1em;
      color: #ffffff;
      align-items: center;
      line-height: 1.2;
      font-size: 0.9rem;
    }
  }
  .inside-header-actions {
    display: flex;
    gap: 1em;
  }
}
