@use "var" as *;  // Import variables without namespace

@media only screen and (max-width: 1499px) {
  header {
    padding: 0 24px;
  
  }
  .content-switcher {
    .tab-content {
      height: auto;
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  header {
    height: 100vh;
    padding: 0;
    grid-template-columns: 100%;
    background: $main-lighten-20;
    display: block;
    padding: 32px 16px;

    .left-side {
      justify-items: center;
    }

    .right-side {
      display: none;
    }

    img#Me {
      margin: 2em auto;
    }

    h1,
    h2 {
      font-size: 2em;
    }
  }

  .wrapper {
    width: 100%;
  }

  .content-switcher {
    .tab-content {
      grid-template-columns: auto;
      justify-items: center;
      padding: 36px;
    }
  }
}

@media only screen and (max-width: 599px) {
  body {
    background-color: #979ac1;
  }
}
