@use "sass:color";
@use "var" as *;  // Import variables from same directory

.content-switcher {
  @if color.lightness($secondary-colour) >= 43% {
    color: $pure-black;
  } @else {
    color: $pure-white;
  }
  overflow: hidden;
  border-radius: $border-radius;
  margin: 24px 0;
  padding: 0;
  max-width: 660px;
  box-shadow: rgba(0, 0, 0, 0) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 1.2em;
    li {
      display: inline-grid;
      padding: 20px 15px;
      width: calc(50% - 30px);
      text-align: center;
      font-size: 1.5em;
      border-radius: 20px 20px 0 0;
      background-color: rgba($secondary-colour, 0.7);
      &:focus-visible {
        outline: 2px solid #ffdd00;
        outline-offset: -2px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      &:hover {
        background-color: $secondary-colour;
        cursor: pointer;
      }
      &:not(:last-child) {
        box-shadow: 1px 0px 0px 0px transparent;
      }
    }
    .active {
      background-color: $secondary-colour;
    }
  }
  .tab-content {
    height: 380px;
    padding: 0px 36px 36px 36px;
    border-top: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: end;
    align-items: center;
    background-color: $secondary-colour;
    img {
      height: 250px;
      width: 250px;
      border-radius: $border-radius-circle;
      background-color: $main-colour;
      object-fit: cover;
      animation: rotate-left-right 2s 1;
    }

    @keyframes rotate-left-right {
      0% {
        transform: scale(0.8); /* Normal size */
      }
      50% {
        transform: scale(1); /* Expanded bubble size */
      }
    }
    h2 {
      border-bottom: 2px solid black;
      display: inline-block;
    }
    p {
      margin: 24px 0 12px 0;
      line-height: 1.2em;
      letter-spacing: 0.015em;
    }
    a {
      color: inherit;
    }
    .btn {
      background-color: $main-colour;
      @if color.lightness($secondary-colour) >= 43% {
        color: $pure-black;
      } @else {
        color: $pure-white;
      }
      font-weight: 500;
      text-align: center;
      padding: 8px 16px;
      border-radius: 12px;
      text-decoration: none;
    }
  }
}
