@use "./../../var.scss" as *;

.loginPage {
  display: flex;
  height: 100%;
  font-family: "Inter", Arial, sans-serif;
  align-items: center;
  background: var(--main-colour);

  .login-form {
    width: 440px;
    min-height: 300px;
    margin: 20px auto;
    border-radius: var(--border-radius);
    background: #1f1f1f;
    color: white;
    box-shadow:var(--box-shadow-highlight);
    padding: 4rem 2rem;
    position: relative;

    .btn {
      width: 100%;
      margin: 0 0 10px 0;
    }

    .login-btns {
      margin-block-start: 1.5em;
      display: flex;
      gap: 0 1em;
      justify-content: space-between;
    }

    h2 {
      margin: 0 0 1em 0;
      font-size: 2em;
      font-weight: bold;
    }

    label {
      color: white;
    }

    input { 

      &:active,
      &:focus {
        color: black;
      }
    }
  }

  .disclaimer { color: red;}
}

// .quick-fill-buttons {
//   display: none;
// }
