@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

html {
  height: 100%;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  margin: auto;
  font-family: "Nunito", sans-serif;
  display: table;
  height: 100%;
}

#fourzerofour {
  max-width: 990px;
  margin: auto;
  overflow: hidden;
  vertical-align: middle;
  display: table-cell;
  text-align: left;
}

#fourzerofour a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  width: auto;
  padding: 0 25px;
  text-align: center;
  height: 50px;
  line-height: 48px;
  font-weight: 300;
  margin: 20px 0;
  text-decoration: none;
  transition: 1s;
}

#fourzerofour a:hover {
  background-color: #fff;
  color: #000;
  transition: 1s;
  box-shadow: inset 0 0 0 1px #000;
}

h1 {
  font-size: 48px;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

ul {
  text-align: left;
}

ul li {
  margin: 5px 0;
}

@media only screen and (max-width: 989px) {
  #fourzerofour {
    padding: 2em;
    margin: 1em;
    width: 100%;
  }
}
