@use "sass:color";
@use "./../../../var.scss" as *;

.btn {
  display: inline-flex;
  gap: 0 1rem;
  align-items: center;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: var(--border-radius);
  user-select: none;
  box-shadow: var(--box-shadow-default);
  transition: 0.3s;

  &:hover {
    filter: brightness(90%);   transition: 0.3s;
  }
}

.btn-icon {
  display: flex;
}

.btn-primary {
  background: var(--main-colour);
  color: white;
}

.btn-secondary {
  background: var(--secondary-colour);
  color: white;
}

.btn-danger {
  background: var(--danger-colour);
  color: #ffffff;
}

.btn-logout {
  background: var(--danger-colour);
  color: #ffffff;
}

.btn-login {
  background-color: var(--success-colour);
   color: color-mix(in srgb, var(--success-colour), #fff 100%); 
}
