@use "sass:color";

.btn {
  display: inline-flex;
  gap: 0 1rem;
  align-items: center;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  padding: 12px 18px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 20px;
  user-select: none;
  box-shadow: 0 4px 20px rgba(26, 32, 44, 0.3);
}

.btn-icon {
  display: flex;
}

.btn-primary {
  background: #3498db;
  color: white;

  &:hover {
    background: #22628d;
  }
}

.btn-secondary {
  background: rgb(7, 73, 7);
  color: white;
}

.btn-logout {
  background: rgb(97, 0, 0);
  color: #ffffff;
  &:hover { 
    background-color: rgb(55, 0, 0);
  }
}
