header {
  padding: 0 10%;
  height: 100vh;
  min-height: 700px;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  align-items: center;
  background: linear-gradient(
    342deg,
    var(--main-colour),
    var(--main-lighten-50)
  );
  background-size: 400% 400%;
  animation: MainGrad 14s ease infinite;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
  // background: linear-gradient(to top, #f1e767 0%, #feb645 100%);

  @keyframes MainGrad {
    0% {
      background-position: 23% 0%;
    }

    50% {
      background-position: 78% 100%;
    }

    100% {
      background-position: 23% 0%;
    }
  }

  // Layout
  .left-side {
    display: grid;
    background-color: var(--main-colour);
    color: var(--pure-white);
    padding: var(--spacing-xl) var(--spacing-lg);
    border-radius: var(--border-radius-lg);
  }

  .right-side {
    display: grid;
    justify-items: end;
    justify-content: end;
  }
}
